<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Datawarehouse_Job_Track.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
	<appSettings>
		<add key="Connection_String" value="User Id={0};Password={1};Data Source=$Datasource;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5; Decr Pool Size=2;Enlist=false;Pooling=true"/>
		<add key="Connection_Login" value="Cis"/>
		<add key="User_Login" value="eul_data"/>
		<add key="Password_Login" value="papito98"/>
		<add key="SQL_Login"  value="select 'Pass' as Permission from dwh_config_user x where x.c_username='{0}'   AND x.n_groupid=1 AND x.C_STATUS='Y'"/>
	</appSettings>
    <applicationSettings>
        <Datawarehouse_Job_Track.My.MySettings>
            <setting name="Datawarehouse_Job_Track_Public_Service__Public"
                serializeAs="String">
                <value>http://172.22.203.70/Utility_Service/Public.asmx</value>
            </setting>
        </Datawarehouse_Job_Track.My.MySettings>
    </applicationSettings>
</configuration>